<div class="navbar-right">
    <div class="navbar-text">
        <b>Your cart:</b>
        {{itemCount()}} item(s),
        {{total() | currency}}
    </div>
    @Html.ActionLink("Checkout", "CheckoutSummary", "Home", null, new { @class = "btn btn-default navbar-btn" })
</div>
