@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="sportsStore">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />

</head>
<body ng-controller="sportsStoreController">
    <div class="navbar navbar-inverse">
        <a class="navbar-brand" href="#">SPORTS STORE</a>
        <cart-summary />

    </div>
    <div class="alert alert-info" ng-show="data.loaderValue">
        <img src="~/Images/preloader.GIF" />
    </div>
    <div class="alert alert-danger" ng-show="data.error">
        Error : {{data.error.status}} . The product data was not loaded.
        @Html.ActionLink("Click here to try again", "Index");
    </div>
    <div class="panel panel-default row" ng-controller="productListControllers" ng-hide="data.error">
        <div class="col-xs-3">
            <a ng-click="selectCategory()" class="btn btn-block btn-default btn-lg">Home</a>
            <a ng-repeat="item in data.products |orderBy:'CategoryName' | unique:'CategoryName'"
               ng-click="selectCategory(item)" class="btn btn-block btn-default btn-lg" ng-class="getCategoryClass(item)">{{item}}</a>
        </div>
        @Html.Partial("ProductList")
    </div>

    <script src="~/Scripts/libs/angular.min.js"></script>
    <script src="~/Scripts/libs/angular-route.min.js"></script>
    <script src="~/Scripts/externalScripts/modules/sportsStoreModule.js"></script>
    <script src="~/Scripts/externalScripts/controllers/sportsStore.js"></script>
    <script src="~/Scripts/externalScripts/filters/customFilters.js"></script>
    <script src="~/Scripts/externalScripts/controllers/productListControllers.js"></script>
    <script src="~/Scripts/externalScripts/components/cart/cartService.js"></script>
    <script src="~/Scripts/externalScripts/components/cart/cartDirective.js"></script>


</body>
</html>
